<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString = "Data Source=DESKTOP-94DIQFF\\SQLEXPRESS; Initial Catalog=Steam;Integrated Security=True" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
   <add key="selectP" value="SELECT Jid,NumeJ FROM Jocuri"/>
    <add key="selectC" value="Select * from Recenzii"/>
    <add key="selectDGV2" value="SELECT Rid, Text FROM Recenzii1 WHERE Rid = @Rid"/>
    

    <add key="ParentTableName" value="Jocuri"/>
    <add key="ChildTableName" value="Recenzii1"/>
    <add key="ChildNumberOfColumns" value="2"/>
    <add key="ParentNumberOfColumns" value="2"/>
    <add key="ChildColumnNames" value="Text,Jid"/>
    <add key="ParentColumnNames" value="Jid,Numej"/>
    <add key="ColumnNamesInsertParametersChild" value ="@text,@rid"/>
    <add key="ColumnNamesInsertParametersParent" value ="@text,@jid"/>
    <add key="deleteFromChild" value="delete from Recenzii where Rid = {0}"/>
    <add key="selectMaxKey" value="SELECT MAX(Rid) FROM Recenzii1"/>


    <add key="pkP" value="@Jid"/>
    <add key="pkC" value="@Rid"/>
    
    
   
    <add key ="UpdateQuery" value="UPDATE Recenzii1 SET Text = @text Where Rid = @rid"/>
    <add key ="DeleteQuery" value="DELETE from Recenzii where Rid = {0}"/>
    <add key ="InsertQuery" value="Insert into Recenzii1 (Rid, Text, Jid) Values('{0}', '{1}', {2});"/> 
    
    
    
    <!-- 
    <add key="selectP" value="SELECT Uid,Username FROM Utilizatori"/>
    <add key="selectC" value="Select * from Comenzi2"/>
    <add key="selectDGV2" value="SELECT Cid, NumeCom FROM Comenzi2 WHERE Cid = @Cid"/>
    

    <add key="ParentTableName" value="Utilizatori"/>
    <add key="ChildTableName" value="Comenzi2"/>
    <add key="ChildNumberOfColumns" value="2"/>
    <add key="ParentNumberOfColumns" value="2"/>
    <add key="ChildColumnNames" value="NumeCom,Uid"/>
    <add key="ParentColumnNames" value="Uid,Username"/>
    <add key="ColumnNamesInsertParametersChild" value ="@numecom,@uid"/>
    <add key="ColumnNamesInsertParametersParent" value ="@username,@uid"/>
    <add key="deleteFromChild" value="delete from Comenzi2 where Cid = {0}"/>
    <add key="selectMaxKey" value="SELECT MAX(Cid) FROM Comenzi2"/>


    <add key="pkP" value="@Uid"/>
    <add key="pkC" value="@Cid"/>
    
    
   
    <add key ="UpdateQuery" value="UPDATE Comenzi2 SET NumeCom = @numecom Where Cid = @cid"/>
    <add key ="DeleteQuery" value="DELETE from Comenzi2 where Cid = {0}"/>
    <add key ="InsertQuery" value="Insert into Comenzi2 (Cid, NumeCom,DataC, Suma,Uid) Values('{0}', '{1}', '{2}' ,{3}, {4});"/>  -->
    
  </appSettings>
</configuration>